.upload-page {
    position: relative;
    width: 100%;
    height: 100vh;
}

.main-image {
    width: 100%;
    height: auto;
    position: relative; /* 변경: absolute에서 relative로 */
    top: 0;
    left: 0;
    z-index: -1;
}

.upload-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    width: 50%; /* 너비를 웹의 너비에 따라 반응형으로 설정 */
    max-width: 600px; /* 최대 너비 설정 */
    min-width: 300px; /* 최소 너비 설정 */
    height: 30%; /* 높이를 웹의 너비에 따라 반응형으로 설정 */
    max-height: 400px; /* 최대 높이 설정 */
    min-height: 200px; /* 최소 높이 설정 */
    padding: 20px;
    background: rgba(255, 255, 255, 1.0); /* 투명도를 1.0으로 설정 */
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: border-color 0.3s;
    z-index: 1; /* Ensure this is on top of the main image */
    box-sizing: border-box;
}

.upload-container.dragging {
    border-color: #28a745;
}

.upload-container h2 {
    margin: 0;
    color: #333;
    font-size: calc(0.8em + 1vw); /* 반응형 글씨 크기 */
}

.drag-drop-text {
    margin: 10px 0;
    color: #666;
    font-size: calc(0.6em + 0.5vw); /* 반응형 글씨 크기 */
}

.upload-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-container input[type="file"] {
    margin-bottom: 10px;
}

.upload-container button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px; /* 버튼 간격 추가 */
    width: 150px; /* 버튼 너비 고정 */
    height: 50px; /* 버튼 높이 고정 */
    font-size: 16px; /* 글자 크기 고정 */
}

.upload-container button:hover {
    background-color: #218838;
}

.file-name {
    margin-top: 10px;
    color: #333;
    font-size: calc(0.6em + 0.5vw); /* 반응형 글씨 크기 */
    word-break: break-all; /* 긴 파일명을 줄 바꿈 */
    text-align: center; /* 중앙 정렬 */
}
