.signupPage {
    position: relative;
    width: 100%;
}

.mainImage {
    width: 100%;
    height: auto;
}

.signupForm {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.signupForm input, .signupForm button {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;  
}

.signupForm button {
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;  
}

.signupForm button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .signupForm {
        width: 40%;
    }
}
